@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

:root {
    --color-black: #212121;
    --color-gold: #E0C66E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    color: var(--color-black);
    background: #F1F1F1;
}

.container {
    width: 80%;
    margin: 0 auto;
}

main .container {
    background: #fff;
    margin-top: -60px;
    padding: 80px 72px;
}

.section-title {
    color: var(--color-gold);
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}

.btn {
    padding: 12px 60px;
    border: none;
    background: transparent;
    font-size: 16px;
    font-weight: 300px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn._black {
    border: 1px solid #000;
    background: #000;
    color: #fff;
    transition: .3s;
}

.btn._black:hover{
    border: 1px solid #000;
    background: #fff;
    color: var(--color-gold);
}

.btn._white {
    border: 1px solid var(--color-gold);
    background: #fff;
    color: var(--color-gold);
    transition: .3s;
}

.btn._white:hover {
    background: var(--color-gold);
    color: #fff;
}