main .contacts {
    margin-top: 80px;
}

.contacts-info {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.contacts-map {
    width: fit-content;
    max-width: 600px;
}

.contacts-data {
    display: inline-flex;
    flex-direction: column;
    align-self: center;
    gap: 28px;
}

.contacts-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 14px;
}

.contacts-wrapper img {
    width: 47px;
    height: 47px;
}

.contacts-number,
.contacts-email {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1200px) {
    .contacts-info {
        flex-direction: column;
    }

    .contacts-map {
        margin-top: 30px;
    }

    .contacts-map,
    .contacts-map iframe {
        width: 100%;
        min-width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .contacts-info {
        width: 95%;
        margin: 0 auto;
    }

    .contacts-wrapper span {
        font-size: 10px;
    }

    .contacts-wrapper img {
        display: none;
    }
}