main .contacts{
    padding-top: 80px;
}

.contacts-info{
    border-top: 1px solid var(--color-gold);
    margin-top: 80px;
}

.contacts-data{
    display: flex;
    flex-direction: column;
    margin: 160px 0px 20px 40px;
}

.contacts-block{
    display: flex;
    align-items: center;
    font-family: "Montserrat";
    font-size: 14px;
    padding: 30px 0px;
}

.contacts-blocks{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
}

.contacts-map{
    padding: 120px 40px 0px 30px; 

}