footer.footer {
    background: #000;
    margin-top: 60px;
}

.footer > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.footer > .container > :last-child {
    font-size: 20px;
    font-weight: 400;
    border: 1px solid #fff;
    padding: 12px 28px;
    transition: .3s;
}

.footer > .container > :last-child:hover {
    background: #fff;
    color: var(--color-black)
}

.footer a {
    color:#fff;
    text-decoration: none;
    padding: 12px 8px;
}

.footer p {
    color:#fff;
    font-weight: 300;
}

@media screen and (max-width: 600px) {
    .footer > .container > :last-child {
        padding: 8px 12px;
        font-size: 16px;
    }

    .footer > .container > :first-child  {
        font-size: 14px;
    }
}

@media screen and (max-width: 425px) {
    .footer > .container > :last-child {
        padding: 8px 8px;
        font-size: 12px;
    }

    .footer > .container > :first-child  {
        font-size: 12px;
    }
}