header.header {
    background: #000;
}

.header .booking-dialog {
    background: transparent;
    border: none;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
}

.header > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.header > .container > * {
    font-size: 18px;
}

.header > .container > *:first-child,
.header > .container > *:last-child {
    font-size: 20px;
    font-weight: 400;
    border: 1px solid #fff;
    padding: 12px 28px;
    transition: .3s;
}

.header > .container > *:first-child:hover,
.header > .container > *:last-child:hover {
    background: #fff;
    color: var(--color-black)
}

.header .container nav {
    display: flex;
    gap: 40px;
}

.header a {
    color:#fff;
    text-decoration: none;
    font-size: 400;
    padding: 12px 8px;
}

.header .header-menu a:hover {
    opacity: .8;
    border-bottom: 1px solid rgb(173, 173, 173);
}

.header .header-menu .active {
    border-bottom: 1px solid #fff;
}

@media screen and (max-width: 1440px) {
    .header .container nav {
        gap: 20px;
    }
    .header > .container > *:first-child,
    .header > .container > *:last-child {
    font-size: 18px;
    padding: 12px 20px;
    }
}

@media  screen and (max-width: 1200px) {
    .header .container nav {
        gap: 8px;
        font-size: 12px;
    }
    .header > .container > *:first-child,
    .header > .container > *:last-child {
    font-size: 12px;
    padding: 10px 12px;
    }
}

@media  screen and (max-width: 768px) {
    .header .container {
        flex-direction: column;
    }

    .header .container nav {
        margin: 10px 0px;
    }
}