.hero {
    background: url('../../images/hero-bg.jpg') center center / cover no-repeat;
    color: #fff;
    font-family: "Yeseva One", sans;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 92px 0;
}

.hero__title {
    font-size: 150px;
    text-transform: uppercase;
}

.hero__title-additional {
    display: flex;
    align-items: center;
    gap: 8px;
}

.hero__title-additional p {
    margin: 0 12px;
    font-size: 26px;
    line-height: .2rem;
}


.hero__title-additional svg {
    margin-bottom: 4px;
}