main .rooms {
    padding-top: 80px;
}

.rooms-booking {
    border-top: 1px solid var(--color-gold);
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.booking-card {
    margin: 40px 30px;
    padding: 30px 30px;
    background-image: url('/assets/images/room-black.png'); 
    background-size: cover;
    flex-basis: 25%;
}

.booking-border {
    border: 1px solid var(--color-gold);
}

.booking-info {
  position: relative;
  padding: 30px 30px 25px
}

.booking-info h3 {
  font-size: 32px;
  font-weight: 400;
  color:var(--color-gold);
  padding: 0px 40px 50px 0px;
  font-weight: 200;
}

.booking-info ul {
  list-style: none;
}

.booking-info ul li {
  color: var(--color-gold);
  margin-bottom: 25px;
  font-weight: 300;
  display: flex;
  gap: 12px;
}

.rooms-booking ul li::before {
  content: '';
  background: url('/assets/images/ul-item.png');
  width: 16px;
  height: 16px;
  display: flex;
}

.booking-card h3,
.booking-card ul,
.booking-card button {
  transition: .3s;
}

.booking-card:hover h3,
.booking-card:hover ul {
  opacity: 0;
}

.booking-card:hover button {
  opacity: 1;
}

.booking-card button {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}


